<html>
    <head>
        <title>Main page</title>
    </head>
    <body>
        <table border=1>
            <thead>
                <tr>
                    {%- for column_name in columns -%}
                    <th>{{ column_name }}</th>
                    {%- endfor -%}
                </tr>
            </thead>
            <tbody>
                {%- for row in data -%}
                <tr>
                    {%- for cell in row -%}
                    <td>{{ cell }}</td>
                    {%- endfor -%}
                </tr>
                {%- endfor -%}
            </tbody>
        </table>
        <form action="{{ url_for('add_item') }}" method="post">
            A: <input type="text" name="a"><br>
            B: <input type="text" name="b"><br>
            <input type="submit" value="Add">
        </form>
    </body>
</html>